:host {
  display: block;
}
.nav-tabs .nav-link.active {
background-color: rgb(203, 233, 220) !important;
font-weight: bolder;
}

.nav-link,
.nav-link:hover {
color: rgba(0, 0, 0, 0.65) !important;
}

.nav-link.label-like {
background-color: #ff9900;
color: #ffffff;
cursor: default;
pointer-events: none;
font-weight: 500;
text-align: center;
border-radius: 0.5rem;
font-size: 1.1rem;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
letter-spacing: 0.07rem;
}